@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background: #f2f4f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spin {
  height: 100vh;
  position: relative;
  top: 0;
}
.loader {
  position: relative;
  top: 45vh;
}

.loader span {
  position: absolute;
  color: rgba(107, 33, 168, 0.913);
  transform: translate(-50%, -50%);
  font-size: 35px;
  margin-left: 50%;
  letter-spacing: 5px;
}

.loader span:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.3px rgba(107, 33, 168, 0.913);
}

.loader span:nth-child(2) {
  color: rgba(107, 33, 168, 0.603);
  -webkit-text-stroke: 1px rgba(0, 0, 254, 0.913);
  animation: uiverse723 3s ease-in-out infinite;
}

@keyframes uiverse723 {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.spinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(107, 33, 168, 0.4);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinne {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: rgb(107, 33, 168) transparent rgb(107, 33, 168)transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;